table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}
tr {
    border: 1px solid black;
}
th {
    border: 1px solid black;
}
td {
    border: 1px solid black
}
.legend {
    width:100%;
    height:100px;
    border:2px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
}
.storage {
    font-size: 12px;
    font-weight: bold;
}
.main {
    font-weight: bold;
}