@font-face {
    font-family: '1942';
    src: url('1942.ttf');
}
@keyframes rotate {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
}
#background {
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    width: 100%;
    height: 100%;
    background-image: url('filecabinets.jpg');
    opacity: 0.7;
}
#header {
    position: absolute;
    width: 50%;
    height: 50;
    border-bottom: 3px solid white;
    font-family: '1942';
    font-size: 40px;
    text-align: left;
    color: whitesmoke;
    text-shadow: 2px -2px 2px black, 0 0 20px gray, 0 0 5px grey;
    font-weight: bolder;
}
#folders {
    position: absolute;
    width: 900;
    height: 725;
    overflow: hidden;
}
#file0 {
    position: absolute;
    top: 25;
    z-index: 0;
    transition: top .1s;

}
#file1 {
    position: absolute;
    top: 50;
    z-index: 1;
    transition: top .1s;
}
#file2 {
    position: absolute;
    top: 75;
    z-index: 4;
    transition: top .1s;
}
#file3 {
    position: absolute;
    top: 100;
    z-index: 6;
    transition: top .1s;
}
#file4 {
    position: absolute;
    top: 125;
    z-index: 8;
    transition: top .1s;
}
#file5 {
    position: absolute;
    top: 150;
    z-index: 10;
    transition: top .1s;
}
#file6 {
    position: absolute;
    top: 175;
    z-index: 12;
    transition: top .1s;
}
#file7 {
    position: absolute;
    top: 200;
    z-index: 14;
    transition: top .1s;
}
#file8 {
    position: absolute;
    top: 225;
    z-index: 16;
    transition: top .1s;
}
#file9 {
    position: absolute;
    top: 250;
    z-index: 18;
    transition: top .1s;
}
#link0 {
    position: absolute;
    border: 2px solid black;
    border-bottom: none;
    left: 580;
    width: 200;
    height: 18;
    border-radius: 5px 5px 0 0;
    text-align: center;
    z-index: 3;
    font-family:'Modak';
    background-image: url(paper.jpg);
    color: black;
    text-shadow: 2px 2px 5px rgb(172, 171, 171), 0 0 5px white, 0 0 25px white;
    transition: .1s;
    
}
#link1 {
    position: absolute;
    border: 2px solid black;
    border-bottom: none;
    left: 580;
    width: 200;
    border-radius: 5px 5px 0 0;
    text-align: center;
    z-index: 5;
    font-family:'Slackey';
    background-image: url(paper.jpg);
    color: red;
    text-shadow: 2px 2px 5px rgb(247, 152, 152), 0 0 5px white, 0 0 25px white;
    transition: .1s;
}
#link2 {
    position: absolute;
    border: 2px solid black;
    border-bottom: none;
    left: 580;
    width: 200;
    border-radius: 5px 5px 0 0;
    text-align: center;
    z-index: 7;
    font-family:'Monofett';
    background-image: url(paper.jpg);
    color: red;
    text-shadow: 2px 2px 5px rgb(247, 152, 152), 0 0 5px white, 0 0 25px white;
    transition: .1s;
}
#link3 {
    position: absolute;
    border: 2px solid black;
    border-bottom: none;
    left: 580;
    width: 200;
    border-radius: 5px 5px 0 0;
    text-align: center;
    z-index: 9;
    font-family: 'Knewave';
    background-image: url(paper.jpg);
    color: red;
    text-shadow: 2px 2px 5px rgb(247, 152, 152), 0 0 5px white, 0 0 25px white;
    transition: .1s;
}
#link4 {
    position: absolute;
    border: 2px solid black;
    border-bottom: none;
    left: 580;
    width: 200;
    border-radius: 5px 5px 0 0;
    text-align: center;
    z-index: 11;
    font-family: 'Fascinate';
    background-image: url(paper.jpg);
    color: red;
    text-shadow: 2px 2px 5px rgb(247, 152, 152), 0 0 5px white, 0 0 25px white;
    transition: .1s;
}
#link5 {
    position: absolute;
    border: 2px solid black;
    border-bottom: none;
    left: 580;
    width: 200;
    border-radius: 5px 5px 0 0;
    text-align: center;
    z-index: 13;
    font-family: 'Miltonian';
    background-image: url(paper.jpg);
    color: red;
    text-shadow: 2px 2px 5px rgb(247, 152, 152), 0 0 5px white, 0 0 25px white;
    transition: .1s;
}
#link6 {
    position: absolute;
    border: 2px solid black;
    border-bottom: none;
    left: 580;
    width: 200;
    border-radius: 5px 5px 0 0;
    text-align: center;
    z-index: 15;
    font-family: 'Butcherman';
    background-image: url(paper.jpg);
    color: red;
    text-shadow: 2px 2px 5px rgb(247, 152, 152), 0 0 5px white, 0 0 25px white;
    transition: .1s;
}
#link7 {
    position: absolute;
    border: 2px solid black;
    border-bottom: none;
    left: 580;
    width: 200;
    border-radius: 5px 5px 0 0;
    text-align: center;
    z-index: 17;
    font-family: 'Flavors';
    background-image: url(paper.jpg);
    color: red;
    text-shadow: 2px 2px 5px rgb(247, 152, 152), 0 0 5px white, 0 0 25px white;
    transition: .1s;
}
#link8 {
    position: absolute;
    border: 5px dotted white;
    border-bottom: none;
    left: 580;
    width: 194;
    border-radius: 5px 5px 0 0;
    text-align: center;
    z-index: 19;
    background-color:black;
    font: 12px 'Press Start 2P';
    color: white;
    text-shadow: 0 0 2px white, 0 0 5px white, 0 0 25px white;
    transition: .1s;
    line-height: 29px;
}
#link9 {
    position: absolute;
    border: 2px solid black;
    left: 580;
    width: 200;
    border-radius: 5px;
    text-align: center;
    padding-top: 17px;
    background-image: url(paint.png);
    font: bolder  25px 'Barrio';
    color: white;
    text-shadow: 0 0 2px black, 0 0 5px black, 0 0 20px black;
    transition: .1s;
    z-index: 20;
}
#link10 {
    position: absolute;
    left: 580;
    width: 200;
    border-radius: 5px;
    text-align: center;
    background-color: none;
    transition: .1s;
    z-index: 20;
    opacity: 0;
}
#iframeDiv {
    position: absolute;
    left: 875;
    top: 18;
    background: center / contain repeat url(wallpaper.jpg);
    animation: none;
    height: 713px;
    width: 580px;
    border-radius: 5px;
}
#inner-Frame {
    position: absolute;
    left: 890;
    top: 33;
    background: none;
    animation: none;
}
#newFrame {
    position: relative;
    background: white;
}
iframe {
    border: 1px solid whitesmoke;
    box-shadow: 0 0 2px whitesmoke;
}
#pacPic {
    position: relative;
    margin-right: 4px;
}
#ghostPic {
    background-color: none;
}
