@font-face {
    font-family: '1942';
    src: url('1942.ttf');

}
@font-face {
    font-family: 'Bohemian';
    src: url('Bohemian\ Typewriter.ttf')
}
html {
    background-image: url('paper.jpg');
}
h1 {
    font-family: '1942';
    text-align: center;
    margin-right: 45%;
    margin-left: 5%
}
h2 {
    text-align: center;
    font-family: '1942';
    margin-right: 45%;
    margin-left: 5%
}
p {
    text-align: center;
    font-family: 'Bohemian';
    margin-right: 45%;
    margin-left: 5%
}
.website {
    text-align: center;
    font-family: 'Bohemian';
    margin-left: 10%;
    margin-right: 10%; 
}
.websiteTitle {
    text-align: center;
    font-family: '1942';
    margin-left: 10%;
    margin-right: 10%; 
}
#navBarDiv {
    text-shadow: .5px .5px 1px black;
    font-family: 'Bohemian';
    margin-right: 45%;
}
#portfolio-git:hover,
#painter:hover,
#painter-git:hover,
#eraser:hover,
#eraser-git:hover,
#challenges:hover,
#challenges-git:hover,
#tracker:hover,
#tracker-git:hover,
#eyes:hover,
#eyes-git:hover{
    font-weight: bold;
}
.dropdown-item {
    text-shadow: none;
}
.navbar-brand {
    margin-left: 22.5%;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}
#frameDiv {
    position:absolute;
    left: 62%;
    top: 5%;  
    z-index: 10;
}
#me {
    position: absolute;
    left: 67%;
}
