@font-face {
    font-family: '1942';
    src: url('1942.ttf');
}
@font-face{
    font-family: 'BartonBus';
    src: url('BartonBus.ttf')
}
@font-face{
    font-family: 'KingBus';
    src: url('KingBus.ttf');
}
@keyframes rotate {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
}
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
  @-ms-viewport {
    width: device-width ;
  }
body {
    background-image: url('blackandwhite.png');
}
#header {
    position: absolute;
    width: 50%;
    height: 50;
    padding-left: 12px;
    border-bottom: 3px solid white;
    font-family: '1942';
    font-size: 40px;
    text-align: left;
    color: whitesmoke;
    text-shadow: 2px -2px 2px black, 0 0 20px gray, 0 0 5px grey;
    font-weight: bolder;
    background: rgb(0,0,0,.8)
}
#navBarDiv {
    position: relative;
    top: 6.7%; 
    font-family: '1942';
    font-size: 15px;
    text-shadow: none;
    background-color: black;
    width: 50%;
    z-index: 1;

}
#folders {
    position: absolute;
    left: 90;
    width: 900;
    height: 680;
    overflow: hidden;
}
.files {
    position: absolute;
    transition: top 1s;
    height: 650px;
    top: 650px;
}
#file0 {
    top: 25;


}
#file1 {
    top: 50;
    z-index: 1;

}
#file2 {
    top: 75;
    z-index: 2;

}
#file3 {
    top: 100;
    z-index: 3;

}
#file4 {
    top: 125;
    z-index: 4;

}
#file5 {
    top: 150;
    z-index: 5;

}
#file6 {
    top: 175;
    z-index: 6;

}
#file7 {
    top: 200;
    z-index: 7;

}
#file8 {
    top: 225;
    z-index: 8;

}
#file9 {
    top: 250;
    z-index: 9;

}
.links {
    position: absolute;
    left: 80;
    width: 182;
    text-align: center;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background-image: url(paper.jpg);
    transition: 1s;
    color: red;
    text-shadow: 2px 2px 5px rgb(247, 152, 152), 0 0 5px white, 0 0 25px white;
    line-height: 29px;
}
.extend {
    position: absolute;
    width: 182;
    height: 29;
    left: 80;
    transition: .1s .2s;
}
#readMe {
    border-bottom: 2px solid black;
    border-radius: 5px 5px 5px 5px;
}
#link0 {
    height: 18;
    z-index: 3;
    font-family:'Modak';
    color: black;
    text-shadow: 2px 2px 5px rgb(172, 171, 171), 0 0 5px white, 0 0 25px white;    
}
#link1 {
    z-index: 4;
    font-family:'Slackey';
}
#link2 {
    z-index: 5;
    font-family:'Monofett';
}
#link3 {
    z-index: 6;
    font-family: 'Knewave';
}
#link4 {
    z-index: 7;
    font-family: 'Fascinate';
}
#link5 {
    z-index: 8;
    font-family: 'Miltonian';
    color: rgb(92, 92, 92);
    text-shadow: none;
    font-size: 30px;
}
#link6 {
    z-index: 9;
    font-size: 15px;
    color: black;
    text-shadow: 2px 2px limegreen;
    font-family: 'Butcherman';
}
#link7 {
    z-index: 10;
    font-family: 'KingBus';
    color: black;
    text-shadow:1px 1px black, 2px 2px 1px green, 3px 3px 2px yellow, 5px 5px 3px red;
    background-image: url(busbackgroud.jpg);
    background-size: contain;
}
#link8 {
    border: 5px dotted white;
    border-bottom: none;
    z-index: 11;
    background-color: black;
    background-image: none;
    font: 10px 'Press Start 2P';
    color: white;
    text-shadow: 0 0 2px white, 0 0 5px white, 0 0 25px white;
    line-height: 29px;
}
#link9 {
    border-bottom: 2px solid black;
    border-radius: 5px;
    padding-top: 17px;
    background-image: url(paint.png);
    font: bolder  22px 'Barrio';
    color: white;
    text-shadow: 0 0 2px black, 0 0 5px black, 0 0 20px black;
    z-index: 12;
}
#extend0 {
    z-index: 3;
}
#extend1 {
    z-index: 4;
}
#extend2 {
    z-index: 5;
}
#extend3 {
    z-index: 6;
}
#extend4 {
    z-index: 7;
}
#extend5 {
    z-index: 8;
}
#extend6 {
    z-index: 9;
}
#extend7 {
    z-index: 10;
}
#extend8 {
    z-index: 11;
}
#extend9 {
    z-index: 12;
}
#iframeDiv {
    position: absolute;
    left: 855;
    top: 18;
    background: center / contain repeat url(wallpaper.jpg);
    animation: none;
    height: 713px;
    width: 580px;
    border-radius: 5px;
}
#inner-Frame {
    position: absolute;
    left: 870;
    top: 33;
    background: none;
    animation: none;
}
#newFrame {
    position: relative;
    background: white;
}
iframe {
    border: 1px solid whitesmoke;
    box-shadow: 0 0 2px whitesmoke;
}
#pacPic {
    position: relative;
    margin-right: 4px;
}
#ghostPic {
    background-color: none;
}
