body {
    height: 100em;
}

html {
    background-image: url(mefishing.jpg);
    background-size: cover;
}
h1{
    margin: 25px;
    padding: 30px;
    background-image: url(banner.jpg);
    background-size: cover;

}
#websitetitle {
    color:rgb(248, 245, 245);
    font-size: 4em;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}