html {
  background-color: black;
}
#scoreBoard {
    display: table;
    margin: auto;
    margin-top: -20;
}
ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
  }
li {
    display: inline-block;
  }
li div {
    display: block;
    color: white;
    text-decoration: none;
    border: 3px solid white;
    background-color: black;
  }
#pointsLeft {
  font-size: 10px;
  font-family: monospace;
  height: 80px;
  width: 80px;
  border-radius: 10%;
  text-align: center;
  margin-left: -40px;
  z-index: 4;
}
#points {
  font-size: 40px ;
  border-radius: 10%;
  text-align: center;
}
#timeRefresh {
  font-family: monospace;
  font-size: 60px;
  border-radius: 10%;
  width: 80px;
  height: 80px;
  text-align: center;
  justify-content: center;
}
#scoreBox {
  font-size: 10px;
  font-family: monospace;
  width: 80px;
  height: 80px;
  border-radius: 10%;
  text-align: center;
}
#score {
  font-size: 40px;
  border-radius: 10%;
  text-align: center;
}
#gameArea {
    display: flex;            
}
.ball { 
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background-color: #ff5722; 
    position: absolute;
  }
.box {
    position: absolute;
    z-index: 2;
  }
img {
      z-index: 3;
  }

