body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 90px);
    height: 100vh;
}
.userInput {
    grid-column: 1 / 2;
    background-color: mediumspringgreen;
}
.output {
    grid-column: 2 / 3;
    background-color:black;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    text-shadow: -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white, 1px 1px 1px white;
}
#opposite {
    grid-row: 1 / 2;
}
#opposite-outer {
    grid-row: 1 / 2;
}
#likes {
    grid-row: 2 / 3;
}
#likes-outer {
    grid-row: 2 / 3;
}
#digitalRoot {
    grid-row: 3 / 4;
}
#digital-outer {
    grid-row: 3 / 4;
}
#highLow {
    grid-row: 4/ 5;
}
#highlow-outer {
    grid-row: 4 / 5;
}
#myAtoi {
    grid-row: 5 / 6;
}
#myAtoi-outer {
    grid-row: 5 / 6;
}
#persistence {
    grid-row: 6 / 7;
}
#persist-outer {
    grid-row: 6 / 7;
}
#planeSeat {
    grid-row: 7 / 8;
}
#planeSeat-outer {
    grid-row: 7 / 8;
}
.answer {
    position: relative;
    width:100%;
    height: 65px;
    background-color: white;
}