@font-face {
    font-family: 'chalk';
    src: url('chalk.ttf')
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 90px);
    height: 100vh;
    background-image: url('chalkboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.userInput {
    grid-column: 1 / 2;
    color: white;
    font-family: 'chalk';
    padding-left: 10px;
}
.output {
    grid-column: 2 / 3;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    font-family: 'chalk';
    color: rgb(248, 248, 125);
    
}
.input {
    color: gray;
    background-color: black;
}
.input:focus {
    color: white;
}
#opposite {
    grid-row: 1 / 2;
}
#opposite-outer {
    grid-row: 1 / 2;
}
#opp-learn-btn,
#like-learn-btn,
#digital-learn-btn,
#highlow-learn-btn,
#myAtoi-learn-btn,
#persist-learn-btn,
#planeSeat-learn-btn{
    padding: 2px 4px 0 2px;
    transform: translateY(-10%)
}
#likes {
    grid-row: 2 / 3;
}
#likes-outer {
    grid-row: 2 / 3;
}
#digitalRoot {
    grid-row: 3 / 4;
}
#digital-outer {
    grid-row: 3 / 4;
}
#highLow {
    grid-row: 4/ 5;
}
#highlow-outer {
    grid-row: 4 / 5;
}
#myAtoi {
    grid-row: 5 / 6;
}
#myAtoi-outer {
    grid-row: 5 / 6;
}
#persistence {
    grid-row: 6 / 7;
}
#persist-outer {
    grid-row: 6 / 7;
}
#planeSeat {
    grid-row: 7 / 8;
}
#planeSeat-outer {
    grid-row: 7 / 8;
}
.answer {
    position: relative;
    width:50%;
    height: 65px;
    left: 25%;
    border-top:2px solid rgb(248, 248, 125)

}